In [2]:
people = {
    'first' : ['Alex','Matt','John'],
    'last' : ['Goot','Axelson','Hopkins'],
    'email' : ['alexgoot@a.com','mattaxel@a.com','john.h@a.com']
}
people2 = {
    'first' : ['Carlos', 'Lando'],
    'last' : ['Sainz', 'Norris'],
    'email' : ['carlos.s@b.com', 'lando.norris@b.com']
}

In [3]:
people['email']

['alexgoot@a.com', 'mattaxel@a.com', 'john.h@a.com']

In [4]:
import pandas as pd

In [6]:
d = pd.DataFrame(people)
d2 = pd.DataFrame(people2)

In [7]:
d['email']

0    alexgoot@a.com
1    mattaxel@a.com
2      john.h@a.com
Name: email, dtype: object

In [7]:
type(d['email'])

pandas.core.series.Series

In [8]:
d[['last', 'email']]

      last           email
0     Goot  alexgoot@a.com
1  Axelson  mattaxel@a.com
2  Hopkins    john.h@a.com

In [9]:
d.iloc[0]

first              Alex
last               Goot
email    alexgoot@a.com
Name: 0, dtype: object

In [10]:
d.set_index('email', inplace=True)

In [11]:
d

               first     last
email
alexgoot@a.com  Alex     Goot
mattaxel@a.com  Matt  Axelson
john.h@a.com    John  Hopkins

In [12]:
d.index

Index(['alexgoot@a.com', 'mattaxel@a.com', 'john.h@a.com'], dtype='object', name='email')

In [13]:
d.loc['alexgoot@a.com', 'first']

'Alex'

In [14]:
d.iloc[0]

first    Alex
last     Goot
Name: alexgoot@a.com, dtype: object

In [15]:
d.reset_index(inplace=True)
d

            email first     last
0  alexgoot@a.com  Alex     Goot
1  mattaxel@a.com  Matt  Axelson
2    john.h@a.com  John  Hopkins

In [16]:
# d['first'] == 'Alex'
fil = ((d['first'] == 'Alex') | (d['last'] == 'Axelson'))

In [17]:
fil

0     True
1     True
2    False
dtype: bool

In [18]:
d.loc[fil, 'email']

0    alexgoot@a.com
1    mattaxel@a.com
Name: email, dtype: object

In [19]:
d.columns = ['first_name','last_name','email']

In [20]:
d.columns = [x.lower() for x in d.columns]

In [21]:
d.columns = d.columns.str.replace(' ', '_')

In [22]:
d.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)

In [23]:
d.loc[2, ['last','email']] = ['Hopkins', 'john.h@a.com']

In [24]:
fil = d['email'] == 'john.h@a.com'
d.loc[fil, 'last'] = 'Hopkins'

In [25]:
d['first'] = d['first'].str.upper()

In [26]:
d['email'].apply(len)

0     4
1     7
2    12
Name: email, dtype: int64

In [27]:
def update_email(email):
    return email.upper()

In [41]:
d['email'] =  d['email'].apply(update_email)

In [43]:
d['email'] = d['email'].apply(lambda x : x.lower())

In [31]:
d.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [44]:
d.apply(pd.Series.min)

first              Alex
last            Axelson
email    alexgoot@a.com
dtype: object

In [47]:
d.apply(lambda x : x.max())

first              Matt
last            Hopkins
email    mattaxel@a.com
dtype: object

In [49]:
d.applymap(len)

   first  last  email
0      4     4     14
1      4     7     14
2      4     7     12

In [52]:
d['first'].map({'Alex':'Chris', 'Matt':'Tim'})

0    Chris
1      Tim
2      NaN
Name: first, dtype: object

In [54]:
d['first'].replace({'Alex':'Chris', 'Matt':'Tim'})

0    Chris
1      Tim
2     John
Name: first, dtype: object

In [40]:
d['Full_name'] = d['first']+ ' ' + d['last']

In [68]:
d[['first', 'last']]= d['Full_name'].str.split(' ', expand=True)

In [29]:
d = d.append({'first':'Lucy', 'last':'Goot', 'email':'lucy.g@b.com'}, ignore_index=True)

In [11]:
d = d.append(d2, ignore_index=True)

In [25]:
a = d['first'] == 'Lucy'
d.drop(index=d[a].index)

    first     last               email     Full_name
0    Alex     Goot      alexgoot@a.com     Alex Goot
1    Matt  Axelson      mattaxel@a.com  Matt Axelson
2    John  Hopkins        john.h@a.com  John Hopkins
3  Carlos    Sainz      carlos.s@b.com  Carlos Sainz
4   Lando   Norris  lando.norris@b.com  Lando Norris

In [44]:
d.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [49]:
d

    first     last               email     Full_name
3  Carlos    Sainz      carlos.s@b.com  Carlos Sainz
4   Lando   Norris  lando.norris@b.com  Lando Norris
2    John  Hopkins        john.h@a.com  John Hopkins
0    Alex     Goot      alexgoot@a.com     Alex Goot
6    Lucy     Goot        lucy.g@b.com     Lucy Goot
1    Matt  Axelson      mattaxel@a.com  Matt Axelson