In [1]:
import pandas as pd

In [38]:
d = pd.read_csv('survey_results_public.csv', index_col='Respondent')
schema = pd.read_csv('survey_results_schema.csv', index_col='Column')

In [40]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [19]:
d[['Country', 'SalaryUSD']].head(50)

                Country  SalaryUSD
Respondent
63129       Afghanistan  1000000.0
50499       Afghanistan   153216.0
39258       Afghanistan    19152.0
58450       Afghanistan    17556.0
7085        Afghanistan    14364.0
22450       Afghanistan     7980.0
48436       Afghanistan     4464.0
10746       Afghanistan     3996.0
8149        Afghanistan     1596.0
29736       Afghanistan     1116.0
28638       Afghanistan        0.0
722         Afghanistan        0.0
85715       Afghanistan        NaN
50767       Afghanistan        NaN
2782        Afghanistan        NaN
63019       Afghanistan        NaN
6417        Afghanistan        NaN
40000       Afghanistan        NaN
88731       Afghanistan        NaN
62525       Afghanistan        NaN
49702       Afghanistan        NaN
33178       Afghanistan        NaN
60946       Afghanistan        NaN
86362       Afghanistan        NaN
88582       Afghanistan        NaN
26340       Afghanistan        NaN
86932       Afghanistan        NaN
85825       Afghanistan        NaN
7353        Afghanistan        NaN
87091       Afghanistan        NaN
58760       Afghanistan        NaN
74386       Afghanistan        NaN
29045       Afghanistan        NaN
51859       Afghanistan        NaN
45854       Afghanistan        NaN
47110       Afghanistan        NaN
44403       Afghanistan        NaN
80926       Afghanistan        NaN
59560       Afghanistan        NaN
60569       Afghanistan        NaN
37802       Afghanistan        NaN
43106       Afghanistan        NaN
12310       Afghanistan        NaN
62168       Afghanistan        NaN
38308           Albania   187668.0
3787            Albania   114550.0
9270            Albania    74474.0
6716            Albania    60000.0
10303           Albania    57300.0
66280           Albania    41244.0

In [6]:
d.rename(columns={'ConvertedComp':'SalaryUSD'}, inplace=True)

In [35]:
d["Hobbyist"] = d["Hobbyist"].map({True:'Yes', False:'No'})

In [25]:
d.sort_values(by=['Country','SalaryUSD'], ascending=[True,False], inplace=True)

In [30]:
d.median()

Hobbyist           NaN
CompTotal      62000.0
SalaryUSD      57287.0
WorkWeekHrs       40.0
CodeRevHrs         4.0
Age               29.0
dtype: float64

In [32]:
d.describe()

          CompTotal     SalaryUSD   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04  5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11  1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13  2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00  0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04  2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04  5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05  1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16  2.000000e+06   4850.000000     99.000000     99.000000

In [45]:
d['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [44]:
d.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')